
    <!-- Modal For Singup -->
    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label>Password Confirmation</label>
                            <input type="password" class="form-control" name="confirm">
                        </div>
                        <button type="submit" class="btn btn-warning btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <span class="footer-nav">
                <a href="/"><span style="color: #3498db;">SELLGRIP</span></a>
                <a href="/tutorials">Tutorials</a>
                <a href="http://facebook.com">Facebook Group</a>
                <a href="/support">Support</a>
            </span>
            <span class="social">
                <a href="http://facebook.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="http://facebook.com"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="http://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </span>
        </div>
        <div class="divider"></div>
        <div class="container">
            <div class="bottom-nav">
                <a href="/terms">Terms Of Service</a>
                <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>
    </body>
</html>