<!DOCTYPE html>
<html>
<title>Sellgrip.com Amazon Product Discovery Software</title>
<!-- Jquery -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- Stylesheet Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<!-- Javascript Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<!-- InstantSearchJS CSS -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
<!-- Main StyleSheet -->
<link rel="stylesheet" href="/stylesheets/main.css">
<!-- Application Javascript -->
<script src="/javascript/application.js"></script>
<!-- Open Sans Google Font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<!-- Fontawesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</html>


<!-- Start Of Body -->
<body>
<% include nav %>
<% include errors %>