<nav class="navbar navbar-light navbar-fixed-top bg-inverse" style="padding: 4px 8px;">
    <a class="navbar-brand" href="/" style="margin-left: 15px; color: #ecf0f1;">sell<span class="navbar-brand-2" style="color: #2980b9;">grip</span> marketplace</a>
</nav>