<nav class="navbar navbar-fixed-top bg-inverse" style="padding: 4px 8px;">
    <a class="navbar-brand" href="/" style="margin-left: 15px; color: #ecf0f1;font-weight: 700;"><span style="color: #3498db;">SELLGRIP</span> MARKETPLACE</a>
    <form class="form-inline" style="display: inline;">
        <input class="form-control" style="width: 45%;margin-left: 10%;" type="text" placeholder="Search For Services">
    </form>
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#signUpModal" href="#">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
        </li>
    </ul>
</nav>