<% include ../partials/header %>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="card card-block">
            <h2 style="font-weight: 700;text-align: center;">My Purchases</h2>
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Order Date</th>
                    <th>Due Date</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="" class="order-image-preview">
                    </td>
                    <td>make or edit amazing photos for Amazon in 23 HOURS</td>
                    <td>Jul 02, 15</td>
                    <td>Jul 03, 15</td>
                    <td>$5.50</td>
                    <td><a href="/order"><button class="btn btn-success btn-block">Order Again</button></a></td>
                </tr>
                <tr>
                    <td>
                        <img src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="" class="order-image-preview">
                    </td>
                    <td>make or edit amazing photos for Amazon in 23 HOURS</td>
                    <td>Jul 02, 15</td>
                    <td>Jul 03, 15</td>
                    <td>$5.50</td>
                    <td><a href="/order"><button class="btn btn-success btn-block">Order Again</button></a></td>
                </tr>
                <tr>
                    <td>
                        <img src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="" class="order-image-preview">
                    </td>
                    <td>make or edit amazing photos for Amazon in 23 HOURS</td>
                    <td>Jul 02, 15</td>
                    <td>Jul 03, 15</td>
                    <td>$5.50</td>
                    <td><a href="/order"><button class="btn btn-success btn-block">Order Again</button></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../partials/footer %>