<% include ../partials/header %>
<div class="row">
    <div class="container">
        <div class="col-md-8">
            <div class="card card-block">
                <h4 class="card-title">I will produce professional product photography photos</h4>
                <hr>
                <h2 style="text-align: center;">About This Gig</h2>
                <p class="card-text">My name is Dwain and I've been a full-time photographer for 10 years. I will use my studio and specialized equipment to photograph your product and produce high-quality images for all your marketing and product photography needs.

                    Please contact us with the details of your item and for our shipping address BEFORE purchasing the gig(s).

                    This is a great gig for those that sell on Amazon, Etsy, eBay and more - meeting Amazon's strict product photo requirements!

                    Images
                    Every product is photographed to produce the most marketable images for your commercial use. The $5.00 gig will result in up to (4) images of A SINGLE PRODUCT as high-resolution JPGs.

                    Delivery
                    Since my studio is equipped for product photography, most products are photographed within 1-5 business days of receipt; and, the images are delivered to you within an additional day.

                    Options
                    We can photograph your product with props, a model, "in use", in "lifestyle" settings, against non-white backgrounds, and more for additional fees.

                    Product Return
                    If you need your product returned, you MUST provide a pre-paid return label. We hold products a maximum of 21 days.
                </p>
            </div>
            <div class="card">
                <div class="card-header">1145 Reviews</div>
                <div class="card-block">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-block">
                <button class="btn btn-success btn-block">Buy Now For $15</button>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>