<% include ../partials/header %>
<div class="card card-block">
    <img alt="usernam" style="height: 125px; width: 125px;margin-left: 45%;" class="avatar" src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    <h2 style="text-align: center;font-weight: 700;">Messages With </h2>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="card card-block">
            <h2 style="font-weight: 700;text-align: center;">Inbox</h2>
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th>Sender</th>
                    <th>Last Message</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="" class="message-avatar-preview" width="24" height="24">
                        <span class="message-username-preview">Username714</span>
                    </td>
                    <td>i did cancel, my friend sorry for mistakes...</td>
                    <td>Dec 03, 15</td>
                </tr>
                <tr>
                    <td>
                        <img src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="" class="message-avatar-preview" width="24" height="24">
                        <span class="message-username-preview">Username714</span>
                    </td>
                    <td>i did cancel, my friend sorry for mistakes...</td>
                    <td>Dec 03, 15</td>
                </tr>
                <tr>
                    <td>
                        <img src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="" class="message-avatar-preview" width="24" height="24">
                        <span class="message-username-preview">Username714</span>
                    </td>
                    <td>i did cancel, my friend sorry for mistakes...</td>
                    <td>Dec 03, 15</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../partials/footer %>