<% include ../partials/header %>
<div class="container">
    <div class="card card-block">
        <img alt="username" style="height: 125px; width: 125px;margin-left: 45%;" class="avatar" src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
        <h2 style="font-weight: 700;text-align: center">Conversation With Username714</h2>
    </div>
    <div class="card card-block">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-1">
                    Subject
                </div>
                <div class="col-xs-11">
                    <input type="text" class="form-control" name="messageSubject" placeholder="Describe what service you are asking about">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-1">
                    Body
                </div>
                <div class="col-xs-11">
                    <fieldset class="form-group">
                        <textarea class="form-control" name="messageBody" rows="6"></textarea>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>