body {
    background: #f3f5f5;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron-cta {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    color: #272832;
    font-weight: bold;
    line-height: 15px;
}

img{
    width:100%;
    height:auto;
}

.bg-inverse {
    background-color: #222;
}

.navbar-nav .nav-link {
    color: #fff;
}

footer {
    background: white;
    height: 185px;
    padding-top: 45px;
}

footer .divider {
    border-top: 1px solid #ebebeb;
    margin: 20px 0px;
    margin-top: 50px;
}

footer .bottom-nav a {
    color: #9b9b9b;
    margin-right: 30px;
}

footer .social a {
    float: right;
    margin-left: 35px;
}

footer .footer-nav a {
    color: #9b9b9b;
    margin-right: 30px;
    font-weight: 600;
    float: left;
}

footer .footer-nav {
    margin-left: 185px;
}

.fa {
    color: #9b9b9b;
}

.price {
    font-size: 12px;
    float: left;
    margin-bottom: 1%;
    color: #26b845;
}

.rating {
    font-size: 12px;
    margin-bottom: 1%;
    text-align: center;
}

.bottom-card-content {
    margin-bottom: 5%;
}