body {
    background: #f3f5f5;
    font-family: 'Lato', sans-serif;
    margin-top: 55px;
    overflow-x: hidden;
}

.jumbotron-cta {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    color: #272832;
    font-weight: bold;
    line-height: 15px;
}

img{
    width:100%;
    height:auto;
}

.bg-inverse {
    background-color: #222;
}

.navbar-nav .nav-link {
    color: #fff;
}

footer {
    background: white;
    height: 185px;
    padding-top: 45px;
}

footer .divider {
    border-top: 1px solid #ebebeb;
    margin: 20px 0px;
    margin-top: 50px;
}

footer .bottom-nav a {
    color: #9b9b9b;
    margin-right: 30px;
}

footer .social a {
    float: right;
    margin-left: 35px;
}

footer .footer-nav a {
    color: #9b9b9b;
    margin-right: 30px;
    font-weight: 600;
    float: left;
}

footer .footer-nav {
    margin-left: 185px;
}

.fa {
    color: #9b9b9b;
}

.price {
    font-size: 12px;
    float: left;
    margin-bottom: 1%;
    color: #26b845;
}

.rating {
    font-size: 12px;
}

.bottom-card-content {
    margin-bottom: 5%;
}

.margin-card-text {
    margin: 25px;
    line-height: 24px;
    text-shadow:0 0 1px transparent;
}

.avatar {
    padding: 1px;
    border: 1px solid #dddddd;
    border-radius: 50%;
}

.seller-level {
    padding: 5px 2px;
    background: #ddd;
    text-align: center;
}

.username-show {
    font-size: 16px;
    text-align: center;
}

.user-rating {
    font-size: 16px;
    text-align: center;
}

.fa-star {
    color:#f1c40f;
}

.fa-star-half {
    color:#f1c40f;
}

.top-star {
    margin-top: 4px;
    vertical-align: top;
}

.center {
    text-align: center;
}

.user-description {
    margin: 25px;
    line-height: 30px;
}

.bottom-card-content {
    margin-bottom: 0px;
}

.nav-container
{
    margin-left: 7%;
    margin-right: 9%;
}

.modal-body {
    padding: 25px;
}

.form-service-label {
    float: right;
    font-weight: bold;
    font-size: 19px;
    margin-top: 5%;
}

.white {
    color: #fff;
}

.message-avatar-preview {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.order-image-preview {
    height: 32px;
    width: 45px;
    border-radius: 2%;
}

.card-text {
}