<% include ../partials/header %>
<% if(currentUser == null) { %>
    <div class="jumbotron">
        <h1 class="display-3 jumbotron-cta" style="text-align: center;">Start Buying And Selling eCommerce Services</h1>
        <p style="text-align: center;">Sign Up And Receive 100% Of Your Own Sales</p>
        <div class="container" style="text-align: center;">
            <form action="/singup" class="form-inline" method="post">
                <div class="form-group">
                    <input type="text" autofocus="autofocus" class="form-control left-field" placeholder="email" name="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="username" name="username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="password" name="password">
                </div>
                <input class="btn btn-success btn-jumbotron" name="commit" type="submit" value="Create Account">
            </form>
        </div>
    </div>
<% } %>
<h2 style="text-align: center;font-weight: bold;">Featured Gigs</h2>
<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-1">
        <div class="card card-block">

        </div>
    </div>
    <div class="col-xs-7">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i>
                        <div class="rating">4.7/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i>
                        <div class="rating">4.7/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i>
                        <div class="rating">4.7/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star 2x" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i>
                        <div class="rating">4.7/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>