<% include ../partials/header %>
<h2 style="font-weight: 700;text-align: center;">Welcome To Sellgrip Marketplace</h2>
<!-- TODO YOUTUBE VIDEO HERE -->
<span class="'btn btn-primary">Join The Facebook Group</span>
<span class="btn btn-primary">View Tutorials</span>
<span class="btn btn-sucess">Continue To Market</span>
<% include ../partials/footer %>