<% include ../partials/header %>
<div class="row">
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="card card-block">
                <h2 style="font-weight: 700; text-align: center;">Log In</h2>
                <form action="/login" method="post">
                    <div class="form-group">
                        <label>Username or Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-warning btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>