<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="card card-block">
            <span class="left-profile">
                <span class="center"><img alt="usernam" style="height: 125px; width: 125px;margin-left: 45%;" class="avatar" src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"></span>
            </span>
            <span class="center-profile">
                <h2 style="font-weight: bold;text-align: center;">About Username714</h2>
                <p class="user-description">Dreamcatcher offal pork belly VHS, PBR&B godard sriracha raw denim blue bottle gastropub vegan health goth lumbersexual pitchfork waistcoat. Twee wayfarers austin flannel, kitsch williamsburg echo park lomo. Post-ironic trust fund ethical DIY semiotics. 3 wolf moon keytar banjo hammock, migas meh fingerstache pinterest paleo polaroid whatever blue bottle master cleanse hoodie yr. Shoreditch yr wayfarers YOLO, kinfolk flexitarian slow-carb before they sold out jean shorts asymmetrical pabst tumblr microdosing pop-up cold-pressed.</p>
            </span>
            <span class="right-profile">
                <h2 style="font-weight: bold;text-align: center;">Rating</h2>
                <div class="center-stars" style="margin-left: 43%;">
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-star-half fa-2x" aria-hidden="true"></i>
                </div>
                <div style="text-align: center">4.7 Out Of 2145 Reviews</div>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <div class="rating">4.5/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <div class="rating">4.5/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <div class="rating">4.5/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <a href="/product-show"><img class="card-img-top" src="https://static.pexels.com/photos/9416/light-car-display-shop-large.jpg" alt="Card image cap"></a>
                <div class="card-block">
                    <a href="/product-show" style="text-decoration: none;"><p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p></a>
                    <hr>
                    <div class="bottom-card-content">
                        <a href="/signup"><span class="price">Register To See Price</span></a><br>
                        <hr>
                        <div class="rating">4.5/5 217 Total Ratings</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>